@import "tailwindcss";

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme customize */
@theme {
  --background-image-glass-gradient: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );

  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-sans: "Inter", sans-serif;

  --text-title: 2.5rem;
  --text-section-title: 2rem;
  --text-body: 1.05rem;
  --max-container: 72rem;

  --spacing-hero: 6rem;

  --color-brand-50: #eff6ff;
  --color-brand-500: #3b82f6;
  --color-brand-900: #1e3a8a;

  --color-app-bg: var(--app-bg);
  --color-app-fg: var(--app-fg);
  --color-primary: var(--primary);
  --color-muted-bg: var(--muted-bg);
  --color-muted-fg: var(--muted-fg);

  --font-main: "Inter", sans-serif;
  --radius-standard: 0.5rem;
  --shadow-soft: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

@layer base {
  :root {
    /* Light Mode Values */
    --app-bg: #ffffff;
    --app-fg: #111827;
    --primary: var(--color-brand-500);
    --muted-bg: #f3f4f6;
    --muted-fg: #6b7280;
  }

  .dark {
    /* Dark Mode Values */
    --app-bg: #0f172a;
    --app-fg: #f9fafb;
    --primary: var(
      --color-brand-400
    );
    --muted-bg: #1e293b;
    --muted-fg: #94a3b8;
  }
}

@layer components {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-app-bg text-app-fg font-main;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  section {
    @apply scroll-mt-20;
  }

  button,
  a:not(.clr),
  [role="button"] {
    @apply rounded-full inline-flex items-center gap-2 px-4 py-2
    transition hover:opacity-60 focus:outline-none focus:ring-2 focus:ring-(--app-fg)/30;

    &.primary {
      @apply bg-app-fg text-app-bg;
    }
    &.secondary,
    &.outline {
      @apply border-2 border-solid border-app-fg text-app-fg fill-app-fg;
    }
  }
}
